<!DOCTYPE html>
<html>
<head>
    <title>Submit Page</title>
    <style>
        table {
            border-collapse: collapse;
            width: 40%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <h1>Attributed Spend</h1>
    <table>
        {% for key, value in spent.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>

    <h1>Owings</h1>
    <table>
        {% for key, value in owings.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </table>
    <h1>Reset Finances</h1>
    <form method="POST" action="/api/reset/confirm">
        <input type="submit" value="Submit" />
    </form>
</body>
</html>