.Sidebar {
  /* Height is 100% of parent (body)*/
  height: 100%;
  width: 16.67vw;
  max-width: 240px;
  min-width: 180px;
  position: fixed;
  /* stack order of elements, this is on top of 0 */
  /* z-index: 1; */
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.87);
  overflow: hidden;
  border-right: 1px solid #eaecf0;

  padding: 0px 0px 0px 0px;

  text-align: left;
  font-size: 150%;
  border-right: 1px solid #eaecf0;
  
}

.nav-menu-items {
  list-style: none;
  padding-inline-start: 18px;
  margin-top: 23vh
}

.nav-menu-items .active {
  background-color: #1a7bbd;
  color: #ffffff;
}

.nav-menu-items li.hover {
  background-color: #f0f7ff;
  color: #2095e5;
}

.nav-menu-items li {
  border-radius: 4px;
  color: #91a6bc;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;

  display: inline-flex;
  align-items: center;
  width: 14.167vw;
  max-width: 204px;
  min-width: 153px;
  height: 40px;


  font-family: "DM Sans-Regular", Helvetica;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.15px;
  line-height: 24px;
}

.nav-menu-items a {
  font-weight: bold;
  font-size: 1.125rem;
}

/* Inherits the colour of the parent class, i.e. the li*/
.navbar-toggle a {
  color: inherit;
  font-size: 1.125rem;
}

.sidebar-icon {
  width: 1.46838rem;
  height: 1.5625rem;
  margin-right: 0.88rem;
  display: inline-flex;
  align-items: center;
}

.sidebarbuttonbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;

  margin-left: 12px;
}
