main.auth {
  background: linear-gradient(
    180deg,
    rgba(31.57, 149.36, 229.5, 0.2) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  background-color: #24384d;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

div.whiteBox {
  background-color: #f9faff;

  padding-left: 68px;
  padding-right: 68px;
  padding-top: 48px;
  padding-bottom: 38px;

  margin: 0px 16px;

  border-radius: 15px;
  box-shadow: 0px 4px 4px #00000040;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.auth div.title {
  color: #ffffff;

  font-family: "DMSans-Bold", Helvetica;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.39600000858306883px;
  line-height: 24px;
  white-space: nowrap;

  padding: 32px;
}

.auth input {
  width: 418px;
  height: 33px;

  border: 1px solid;
  border-color: #e2e8f1;
  border-radius: 10px;
  margin-bottom: 22px;
  padding-left: 10px;
  padding-right: 10px;
}

.auth input.button {
  width: 129px;
  height: 40px;

  background-color: #1a7bbd;

  border-radius: 10px;
  border: none;

  font-family: "DM Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  color: white;
  letter-spacing: -0.18px;
  line-height: 24px;

  margin-bottom: 13px;
}

.auth label {
  font-family: "Inter-Bold", Helvetica;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: -0.15px;
  line-height: 24px;
}

.auth .forgotPassword {
  float: right;

  color: #aeaeae;
  font-family: "Inter-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.13px;
  line-height: 24px;
  text-decoration: underline;
}

.auth .here {
  color: #1f95e5;
  font-family: "Inter-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.13px;
  line-height: 24px;
  text-decoration: underline;
}

.auth .swap {
  color: #aeaeae;
  font-family: "Inter-Light", Helvetica;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: -0.13px;
  line-height: 24px;
}

.auth .householdOptions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.auth .emoji{
    font-size: 96px;
}