.tableFunctionalities{
    margin-bottom: 1rem;

}

.tableData{
    background-color: #ffffff;
    border-radius: 0.625rem;
    border: 1px solid var(--neutrals-neutral-200, #E2E8F1);
    width: 64.9375rem;
    height: 40.5625rem;


}

#transactionsTable{
    width: inherit;
    /* Ensures no gaps between tables form border */
    border-collapse: collapse;
    border-radius: 0.625rem;

}

#transactionsTable tr{
    background-color: #E2E8F1;
    color: #91A6BC;
    border-radius: 0.625rem 0.625rem 0rem 0rem;
    height: 2.6875rem;
    font-size: 1rem;
    font-weight: 500;


}



#transactionsTable tbody tr{
    border-bottom: 0.5px solid #ECECEC;
    height: 3.5rem;



}

#transactionsTable td{
    
    background-color: #ffffff;
    font-size: 0.825rem;
    font-weight: 500;
    text-align: center;
    color: #404040;


}

.percentageSplit {
    border-left: 0.5px solid #ECECEC;;
}


.tableFooter {
    font-size: 1rem;
    border-bottom-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: right;
    width: 64.9375rem;
  }

  .tableFooter button{
    border-radius: 0.1875rem;
    background:  #ffffff;
    margin: 0.94rem 0.25rem;
  }
 
  
 .tableFooter .activeButton {
    border: none;
    border-radius: 0.1875rem;
    background:  #F1F6FE;

  }
  