<!DOCTYPE html>
<html>
<head>
    <title>Dynamic Form</title>
</head>
<body>
    <form method="POST">
        {% for item in item_list %}
            <fieldset>
                <legend>{{ item }}:</legend>
                <label for="{{ item }}_adam">Adam:</label>
                <input type = "number" id = "{{ item }}_adam" name = "{{ item }}_adam" min = "0" step = "0.01" value = "1"><br><br>
                <label for="{{ item }}_alex">Alex:</label>
                <input type = "number" id = "{{ item }}_alex" name = "{{ item }}_alex" min = "0" step = "0.01" value = "1"><br><br>
                <label for="{{ item }}_tyler">Tyler:</label>
                <input type = "number" id = "{{ item }}_tyler" name = "{{ item }}_tyler" min = "0" step = "0.01" value = "1"><br><br>
                <label for="{{ item }}_persist">Persist:</label>
                <input type = "checkbox" id = "{{ item }}_persist" name = "{{ item }}_persist"><br><br>
            </fieldset>        
            <label>{{ label }}</label>
            {{ input_field|safe }}
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>