<!DOCTYPE html>
<html>
<head>
    <title>Update Weightings</title>
    <style>
        input:invalid {
            border: 1px solid red;
        }

        input:valid {
            border: 1px solid green;
        }
        .persistent_weightings{
            border: 1px darkgrey;
            background-color: rgb(207, 206, 206);
        }
    </style>
</head>
<body>
    <h1>Receipt {{ receipt_total[0]}}/{{ receipt_total[1] }}</h1>
    <form method="POST" action="/api/weighting/update_receipt_weightings">
        {% for item in item_list_no_persistent_weights %}
            <fieldset>
                <legend>{{ item[1] }}:</legend>
                {% for profile in profile_list %}
                    <label for="{{ item }}_{{ profile[1] }}">{{ profile[1] }}:</label>
                    <input type = "number" id = "{{ item }}_{{ profile[1] }}" name = "{{ profile[0] }}[{{ item[0] }}]" min = "0" step = "0.01" value = "1" required><br><br>
                {% endfor %}
                <label for="{{ item[1] }}_persist">Persist:</label>
                <input type = "checkbox" id = "{{ item[1] }}_persist" name = "persist[{{ item[0] }}]"><br><br>
            </fieldset>        
        {% endfor %}
        {% for item in item_list_with_persistent_weights %}
            <fieldset class="persistent_weightings">
                <legend style = "color: grey;">{{ item[1] }}:</legend>
                {% for profile in profile_list %}
                    <label for="{{ item }}_{{ profile[1] }}">{{ profile[1] }}:</label>
                    <input type = "number" id = "{{ item }}_{{ profile[1] }}" name = "{{ profile[0] }}[{{ item[0] }}]" min = "0" step = "0.01" value = "{{ item[2 + loop.index0] }}"><br><br>
                {% endfor %}
                <label for="{{ item[1] }}_persist">Persist:</label>
                <input type = "checkbox" id = "{{ item[1] }}_persist" name = "persist[{{ item[0] }}]" checked><br><br>
            </fieldset>        
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>