.owings_box {
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0px 0px 1px #0000000a, 0px 2px 6px #0000000a,
    0px 16px 24px #0000000f;

  min-width: 20ch;
  max-width: 25ch;
  width: 20vw;

  margin-right: 45px;
  padding-bottom: 26px;
  padding-top: 1.625rem;
  padding-left: 1.5rem;
}

.dashboard_table_box {
  background-color: #ffffff;
  border-radius: 19px;
  box-shadow: 0px 0px 1px #0000000a, 0px 2px 6px #0000000a,
    0px 16px 24px #0000000f;

  height: 392px;

  min-width: 50ch;
  max-width: 70ch;
  width: 48vw;

  margin-top: 23px;

  padding-left: 2.1875rem;
  padding-top: 1.9375rem;
  padding-right: 2.1875rem;
}

.hcontainer {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 23px;
  margin-bottom: 50px;
}

.hcontainer.owings{
  margin-top:0;
  margin-bottom:0;
}
.vcontainter {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

#transaction_history_wrapper {
  margin-left: 10px;
}

#upload_wrapper {
  margin-left: 57px;
  margin-bottom: 23px;
}

.upload_tile {
  border-radius: 19px;
  box-shadow: 0px 0px 1px #0000000a, 0px 2px 6px #0000000a,
    0px 16px 24px #0000000f;
  height: 179px;
  width: 323px;
  margin-top: 13px;
  margin-left: 52px;
}

.upload_tile.red {
  background: linear-gradient(
    180deg,
    rgb(255, 90, 0) 0%,
    rgb(255, 134.21, 69.06) 100%
  );
}

.upload_tile.blue {
  background: linear-gradient(
    180deg,
    rgb(0, 179, 255) 0%,
    rgb(112.06, 188.74, 240.12) 100%
  );
  height: 200px;
}

table {
  border-collapse: collapse;
}

th {
  color: #91a6bc;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0;
  text-align: left;
  width: 100%;
}

td {
  padding-top: 1.0625rem;
  padding-bottom: 1.0625rem;
  border-bottom: 1px solid #ddd;

  letter-spacing: 0;
  line-height: normal;
  font-size: 1rem;
  font-weight: 400;
}

td.item {
  color: #3f3f3f;
  font-family: "DM Sans-Regular", Helvetica;
}

td.date,
td.payer {
  color: #c7c7c7;
  font-family: "DM Sans-Regular", Helvetica;
}

td.cost {
  color: #3f3f3f;
  font-family: "Lato-Bold", Helvetica;
  font-weight: 700;
}

.item {
  width: 40%;
}

.date {
  width: 30%;
}

.cost {
  width: 13%;
}

.owing_text {
  color: #afafaf;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 0.875rem;
  font-weight: 700;
  letter-spacing: -0.009375rem;
  line-height: 1.5rem;
  white-space: nowrap;

  padding-top: 0.625rem;
}

.profile_circle{
  height: 60px;
  width: 60px;
  border-radius: 30px;

  background: rgb(210, 247, 253);
  margin-right: 1.125rem;
}


