.content {
  width: 1120px;
}

.main {
  padding-left: 40px;
  padding-right: 40px;
  margin-left: 16.67vw;
  
  
}

.header {
  color: #000000;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: -0.53px;
  line-height: 48px;
  width: 533px;
  white-space: nowrap;
  margin-top: 114px;
  margin-bottom: 19px;
}

.subheader {
  color: #aeaeae;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 24px;
  margin-bottom: 59px;
  margin-left: 5px;
}
