#root {
  height: 100vh;
  width: 100vw;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#main {
  height: 100%;
  width: 100%;
  padding: 20px;
  margin: 0% 0% 0% 20%;
  border-left: 1px solid #EAECF0;
  color: #000000;
  font-family: "DM Sans-Bold", Helvetica;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -0.26px;
  line-height: 24px;
}

.header {
color: #000000;
font-family: "DM Sans-Bold", Helvetica;
font-size: 48px;
font-weight: 700;
letter-spacing: -0.53px;
line-height: 48px;
width: 533px;
white-space: nowrap;
margin-top: 7%;
margin-bottom: 1%;
}

.subheader {
  color: #aeaeae;
  font-family: "DM Sans-Regular", Helvetica;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.2px;
  line-height: 24px;
  margin-bottom: 4%
}

.owings_box{
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0px 0px 1px #0000000a, 0px 2px 6px #0000000a, 0px 16px 24px #0000000f;
  height: 120px;
  left: 0;
  top: 0;
  width: 291px;
  margin-right: 45px;
}

.dashboard_table_box{
  background-color: #ffffff;
  border-radius: 28px;
  box-shadow: 0px 0px 1px #0000000a, 0px 2px 6px #0000000a, 0px 16px 24px #0000000f;
  height: 392px;
  margin-top: 23px;
}

.container{
  display: flex;
  justify-content: flex-start;
  margin-top: 23px;
  margin-bottom: 50px;
}


