.content {
  min-width: 960px;
  width: 100%;
  max-width: 1216px;
  margin-left: 40px;
  margin-right: 40px;
  position: relative;
}

.main {
  width: 82vw;
  min-width: 1040px;
  display:flex;
  justify-content: center;
}

.sidebarBuffer{
  width: 16.66vw;
  max-width: 240px;
  min-width: 180px;
}

.bufferMainContainer {
  display: inline-flex;
  justify-content: flex-start;
  flex-direction: row;
}
